.example-margin {
  margin: 0 10px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #00AF91!important;
}

:host::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #00AF91;
}

@media (min-width: 1920px){
  .maxscreenimg2 {
    left: 32rem;
  }

  .maxscreenimg1 {
    right: 28rem;
  }
}


::ng-deep.mat-horizontal-stepper-header-container{
  width: 19.125rem;
  margin-left: auto;
  margin-right: auto;
}

:host .mat-button-disabled.mat-button-disabled{
  background: #BBEEE5;
  //opacity: 0.2;
  color: white;
}
