<mat-form-field appearance="outline" class="w-full pass">
  <input [(ngModel)]="name" matInput  placeholder="******">
  <!-- type="password" -->
</mat-form-field>
<div class="flex flex-row mb-3">
  <div class="grid grid-cols-5 w-11/12">
    <div *ngFor="let button of buttons">
      <p class="mr-2 mb-2">
        <button (click)="setValue()" style="min-width: 2.75rem !important; color: #000000" mat-raised-button>{{button}}</button>
      </p>
    </div>
  </div>
  <div class="flex flex-col">
    <button style="padding: 0px 8px !important; color: #000000; margin-bottom: 8px !important;" mat-raised-button>
      <mat-icon class="text-lg text-gray-500 mr-1 mb-2">backspace</mat-icon>Borrar
    </button>
    <button style="padding: 0px 8px !important; color: #000000" mat-raised-button>
      <mat-icon class="text-xl text-gray-500 mr-1 mb-2">delete</mat-icon>Eliminar
    </button>
  </div>
</div>
