<div class="flex flex-col">
<!--  <div class="container-input flex flex-row mb-3 justify-center">-->
<!--    <div *ngFor="let circle of circlecheked" class="{{circle.class}}" [ngClass]="select"></div>-->
<!--  </div>-->
  <mat-form-field appearance="outline" class="w-full pass">
    <input [(ngModel)]="name" matInput  placeholder="******">
  </mat-form-field>
  <div class="lg:hidden block flex flex-row mb-3 grid grid-flow-col grid-cols-3 grid-rows-3">
    <div *ngFor="let button of buttons" class="w-11/12">
      <p class="mr-2 mb-2">
        <button (click)="setValue()" style="color: #000000" mat-raised-button>{{button}}</button>
      </p>
    </div>
    <button (click)="clear()" style="padding: 0px 2px !important; width: 62px; color: #000000; margin-bottom: 8px !important;"
            mat-raised-button>
      <mat-icon class="text-lg text-gray-500 mr-1 mb-2">backspace</mat-icon>
    </button>
    <button (click)="delete()" style="padding: 0px 2px !important; width: 62px; height: 36px; color: #000000"
            mat-raised-button>
      <mat-icon class="text-xl text-gray-500 mr-1 mb-2">delete</mat-icon>
    </button>
  </div>
  <div class="hidden lg:inline-flex  flex flex-row mb-3">
    <div class="grid grid-cols-5 w-11/12">
      <div *ngFor="let button of buttons">
        <p class="mr-2 mb-2">
          <button (click)="setValue()" style="min-width: 2.75rem !important; color: #000000"
                  mat-raised-button>{{button}}</button>
        </p>
      </div>
    </div>
    <div class="flex flex-col">
      <button (click)="clear()" style="padding: 0px 8px !important; color: #000000; margin-bottom: 8px !important;"
              mat-raised-button>
        <mat-icon class="text-lg text-gray-500 mr-1 mb-2">backspace</mat-icon>Borrar
      </button>
      <button (click)="delete()" style="padding: 0px 8px !important; color: #000000" mat-raised-button>
        <mat-icon class="text-xl text-gray-500 mr-1 mb-2">delete</mat-icon>Eliminar
      </button>
    </div>
  </div>
</div>
