::ng-deep.pass .mat-form-field-wrapper{
  padding-bottom: 15px !important;
}

.colr {
  color: red !important;
}

 .circulo {
     border: 1px solid #C4C4C4;
     background: #C4C4C4;
     border-radius: 50%;
     width: 16px;
     height: 16px;
     margin-inline: 6px;
     margin-block: 3px;

     &.select {
         background: #1A3184;
     }
 }

// .container-input {
//     border: 1px solid #7B7B7B;
//     padding-block: 15px;
//     padding-inline: 8px;
//     border-radius: 5px;
// }
